/* #region CSS reset */
:root {
  --virtual-viewport-internal-padding: 0.8rem;
  --portrait-min-width: 34rem;
  --landscape-min-width: 64rem;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc((10 / var(--screen-min-width)) * 100vw);
  color: white;
}

body {
  margin: 0;
  background: transparent
    linear-gradient(
      180deg,
      #03070c 0%,
      #07101a 10%,
      #0a1927 22%,
      #0a131e 37%,
      #070e16 56%,
      #070a0f 74%,
      #09131f 89%,
      #06090c 100%
    )
    0% 0% no-repeat padding-box;
  opacity: 1;
}
/* #endregion */

/* #region Utilities */
.flex--column {
  display: flex;
  flex-flow: column nowrap;
}

.flex--column.middle {
  justify-content: center;
}

.flex--column.center {
  align-items: center;
}
/* #endregion */

#virtual-viewport {
  /* background-color: lightcoral; */
}

#poker-table {
  display: block;
}

#poker-table img {
  max-width: 100%;
}

#top-group {
  background-color: lightskyblue;
  opacity: 0.5;
}

#bottom-group {
  background-color: limegreen;
  opacity: 0.5;
}


@media screen and (orientation: portrait) {
  :root {
    --screen-min-width: 340;
  }
  
  #virtual-viewport {
    width: 34rem;
    min-height: 55.3rem;

    position: relative;
  }
  
  #poker-table {
    margin-top: 3.5rem;
  }
  
  #top-group {
    width: calc(var(--portrait-min-width) - (var(--virtual-viewport-internal-padding) * 2));
    height: 5.1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    top: min(0, calc(((100 * var(--vh)) - 100%) / -2));
  }
  
  #bottom-group {
    width: calc(var(--portrait-min-width) - (var(--virtual-viewport-internal-padding) * 2));
    height: 17.1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 1rem auto;
    z-index: 2;
    bottom: min(0, calc(((100 * var(--vh)) - 100%) / -2));
  }
}

@media screen and (orientation: landscape) {
  :root {
    --screen-min-width: 640;
  }

  #virtual-viewport {
    width: 64rem;
    min-height: 30rem;
  }

  #poker-table {
    margin: 2rem auto 0 auto;
    width: 52.4rem;
  }
}
