/* #region CSS reset */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  color: white;
}

body {
  margin: 0;
  background-color: black;
}
/* #endregion */

/* #region Utilities */
.flex--column { 
  display: flex;
  flex-flow: column nowrap;
}

.flex--column.middle {
  justify-content: center;
}

.flex--column.center {
  align-items: center;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.with-aspect-ratio {
  position: relative;
  height: 0;
  padding-top: calc(100% / (var(--aspect-ratio)));
}
/* #endregion */

#virtual-viewport {
  background-color: orange;

  min-width: 34rem;
  min-height: 76rem;
}

#poker-table {
  background-color: pink;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#top-overlay {
  
}
#bottom-overlay {}

/* #region PORTRAIT */
@media screen and (orientation: portrait) {  
  #poker-table {
    --aspect-ratio: 340/443;
    background-image: url(assets/table-portrait.png);
  }
}

@media screen and (orientation: portrait) and (max-width: 340px) {
  #virtual-viewport {
    max-height: 76rem;
  }
}
/* #endregion */

/* #region LANDSCAPE */
@media screen and (orientation: landscape) {
  #poker-table {
    --aspect-ratio: 640/300;
    background-image: url(assets/table-landscape.png);
  }
}

/*
@media screen and (orientation: landscape) and (max-height: 300px) {
  .virtual-viewport {
    max-width: 88rem;
  }
}
*/
/* #endregion */