* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-size: calc(62.5% * 4); */
  color: white;
}

body {
  background-color: black;
  margin: 0;
}

.flex--middle--center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.virtual-viewport {
  background: blue;
}

@media screen and (orientation: portrait) {
  .virtual-viewport {
    min-width: clamp(340px, 100%, 640px);
    min-height: clamp(553px, 100%, 1033px);
  }
}

@media screen and (orientation: portrait) and (max-width: 340px) and (min-height: 760px) {
  .virtual-viewport {
    min-height: 760px;
  }
}

@media screen and (orientation: landscape) {
  .virtual-viewport {
    min-width: clamp(640px, 100%, 1366px);
    min-height: clamp(300px, 100%, 640px);
  }
}

@media screen and (orientation: landscape) and (height: 300px) and (min-width: 880px) {
  .virtual-viewport {
    min-width: 880px;
  }
}
